# editorconfig.org

root = true

[{*, .*}]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{makefile,Makefile,**.mk}]
indent_style = tab

[{**.go}]
indent_style = tab

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

[{**.md,**.json}]
max_line_length = off

[COMMIT_EDITMSG]
max_line_length = 70
