# Local configuration
.bashrc
.zshrc

# MacOS
.DS_Store

.cache
coverage.txt

# Test binary, built with `go test -c`
*.test
# Local files, backups, logs and temporary files
**/*.local
**/*.local.*
**/*.bkp
**/*.log
**/*.tmp
